<div class='rows'>
  <div class='large-4'>
    <h2>Simple Weather App</h2>
    <p> made with Sinatra and Yahoo Weatherman</p>
  </div>
</div>
<% if !@error.blank? %>
    <p class="errors">
        <%="#{@error}" %>
    </p>
<% end %>
<div class='rows'>
  <form class="large-6" action="/" method="post">
      <div class="form-group">
          <label for="zipcode">Enter your Zipcode</label>
          <input class="form-control" name="zipcode" type="text" />
      </div>
      <input class="btn btn-default" type="submit">
  </form>
</div>
