<h2>Simple Weather App made with Sinatra and Yahoo Weatherman</h2>
    
    <form class="col-md-3" action="/" method="post">
        <div class="form-group">
            <label for="zipcode">Enter your Zipcode</label>
            <input class="form-control" name="zipcode" type="text" />
        </div>
        <input class="btn btn-default" type="submit">
    </form>
