<html>
    <head>
        <link rel="stylesheet" href="/css/weather.css">
        <link rel="stylesheet" href="/foundation/css/foundation.css">
    </head>

    <body>
        <div class="container">
            <%= yield %>
        </div>
    </body>
</html>
